body {
    background: rgba(192, 192, 192, 0.865);
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 65vw;
}

.btns {
    border-radius: 12px;
    border: 1.5px solid white;
    background: rgba(97, 131, 168, 0.775);
    transition: 1500ms;
    color: white;
}

.btns:hover {
    border: 1.5px solid white;
    background: white;
    color: black;
}

p {
    font-size: 1.25em;
}

h2 {
    text-align: center;
}

a {
    background: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.449) !important;
    transition: 1500ms
}

.copyToClipboard {
    background-color: rgb(0, 0, 0) ;
    color: white;
    padding: 10px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:hover {
    border-radius: 3px;
    background: white !important;
    color: black;
}

button {
    background: rgba(0, 0, 0, 0.734) !important;
    color: white !important;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.80em;
}

header {
    text-align: center;
}

.container .code-example {
    position: relative;
    display: flex;
    background-color: #1E1E1EFF;
    border-radius: 4px;
    font-size: 1.25em;
    color: #9CDCFEFF;
}

.container .code-example p {
    font-family: 'Source Code Pro', monospace;
    z-index: 9999999;
    box-sizing: border-box;
    font-size: 16px;
}

.container .code-example button {

    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container .code-example button:hover {
    background-color: #0069d9;
}

.b {
    color: #C18870FF;
}

.w {
    color: #DCDCDCFF;
}

h4 {
    font-size: 1.15em;
}


table {
    color: white;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;

}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 13px 20px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 13px 20px;
    word-break: normal;
}

.tg .tg-baqh {
    font-size: 1.05em;
    text-align: center;
    vertical-align: top;
    color: white;
}

.accordion-item {
    background: rgba(0, 0, 0, 0.565);
    color: white;
}
